* {
    margin: 0;
    padding: 0;
}
#contents{
    background: url('../images/bg.jpg');
    background-size: cover;
    width: 800px;
    height: 500px;
    /* 포지셔닝을 해주어야 원하는 이미지에 들어감 */
    position: relative;
}
h1{
    color: #fff;
    font-size: 120px;
    text-shadow: 5px 9px 0 #000;
    position: absolute;
    right: 100px;
    bottom: 100px;
}